/* || ----- Common Css -----  || */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #8750f7 #2a1454;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* || ----- header -----  || */

.header-outer {
  background-color: #0f0715;
  padding: 40px 0 40px;
  background-color: #0c0c1d;
  position: relative;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-logo {
  max-width: 60px;
  width: 100%;
  margin-right: 35px;
}
.header-logo-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mail a {
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
}
.header-menu ul {
  display: flex;
  gap: 35px;
}
.header-menu ul li a {
  color: #fff;
  font-weight: 500;
  position: relative;
  padding: 3px 0;
  display: inline-block;
  cursor: pointer;
}
.header-btn a {
  background-image: linear-gradient(
    to right,
    #8750f7 0%,
    #2a1454 100%,
    #8750f7 100%
  );
  color: #fff;
  border-radius: 50px;
  padding: 14px 35px;
  display: inline-block;
  transition: 0.4s;
  font-weight: 600;
  transition: all 0.5s ease-in-out 0s;
  background-image: linear-gradient(
    to right,
    #8750f7 0%,
    #2a1454 51%,
    #8750f7 100%
  );
  background-size: 200%;
  transition: 0.4s;
  cursor: pointer;
}
.header-btn a:hover {
  /* background-image: linear-gradient( to right, #8750f7 0%, #2a1454 0%, #8750f7 100% ); */
  background-position: -100%;
}
.header-menu ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background: linear-gradient(260deg, #2a1454 0%, #8750f7 100%);
  bottom: 0;
  left: 0;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #8750f7;
  -webkit-border-radius: 3px;
}
.header-mail a:hover {
  color: #8750f7;
}
.header-menu ul li a:hover::before {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

/* || ----- banner -----  || */

.banner-outer {
  background-color: #0c0c1d;
  padding: 60px 0 100px;
}
.banner-title h1 {
  background: linear-gradient(to right, #8750f7 0%, #fff 100%);
  background-clip: border-box;
  font-size: 65px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  margin-bottom: 15px;
}
.banner-sub-title {
  color: #ddd;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
.banner-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.banner-sub-title {
  color: #ddd;
  font-size: 36px;
  font-weight: bold;
  align-items: center;
  display: flex;
}
.banner-para p {
  color: #ddd;
  font-size: 20px;
  max-width: 550px;
  width: 100%;
  margin-bottom: 50px;
}
.banner-social-media ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.banner-btn a {
  background-color: transparent;
  border: 1px solid #8750f7;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  padding: 14px 35px;
  display: inline-block;
  color: #dddd;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.4s;
}
.banner-btn a:hover {
  color: #8750f7;
}
.banner-btn {
  display: flex;
  align-items: center;
}
.banner-pic img {
  animation: circleAni 4.5s linear infinite alternate;
  box-shadow: 0 0px 20px rgba(36, 39, 37, 0.3);
  border: 2px solid #2a1454;
  transition: 0.4s;
}
.banner-pic img:hover {
  border: 2px solid #8750f7;
}
@keyframes circleAni {
  0% {
    border-radius: 48% 52% 57% 43%/34% 44% 56% 66%;
  }
  25% {
    border-radius: 62% 38% 64% 36%/34% 55% 45% 66%;
  }
  50% {
    border-radius: 43% 57% 51% 49%/33% 42% 58% 67%;
  }
  100% {
    border-radius: 40% 60% 43% 57%/52% 32% 68% 48%;
  }
}
.banner-social-media ul li a {
  transition: all 0.3s ease-in-out 0s;
}
.banner-social-media li a svg:hover {
  color: #8750f7 !important;
}
.banner-sub-title img {
  max-width: 40px;
  margin-left: 15px;
  animation: wave 2.1s 0.6s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header-menu ul li a.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background: linear-gradient(260deg, #2a1454 0%, #8750f7 100%);
  bottom: 0;
  left: 0;
}
.header-menu ul li a.active {
  position: relative;
}
.banner-pic {
  position: relative;
}
.banner-pic::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -200px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
  -webkit-filter: blur(150px);
  filter: blur(150px);
}
.banner-social-media {
  padding: 0 0 0 17px;
}

/* || ----- skill -----  || */

.skill-outer {
  background-size: cover;
  background-image: url(../stars.png);
  background-color: #0c0c1d;
  background-attachment: fixed;
  padding: 100px 0;
}
.skill-content {
  text-align: center;
  margin-bottom: 50px;
}
.skill-content h2 {
  background: linear-gradient(to right, #8750f7 0%, #fff 100%);
  background-clip: border-box;
  font-size: 45px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  display: inline-flex;
  margin-bottom: 25px;
}
.skill-content p {
  color: #fff;
  max-width: 550px;
  margin: 0 auto;
}
.icon-box {
  width: 150px;
  height: 150px;
  object-fit: cover;
  /* transition: 0.4s ease; */
  margin-bottom: 15px;
}
.icon-box img {
  transition: 0.4s ease;
}
.skill-box {
  border-radius: 25px;
  padding: 40px 30px 40px;
  background: #140c1c;
  border: 1px solid #d3d3d3;
  margin-bottom: 15px;
  transition: 0.4s ease;
}
.skill-boxes p {
  color: #8750f7;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  transition: 0.4s ease;
}
.skill-outer-boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.skill-inner {
  overflow: hidden;
}
.skill-boxes {
  flex-basis: 30%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}
.skill-box:hover {
  /* background: #2a1454; */
  border: 1px solid #8750f7;
}
.skill-boxes .skill-box .icon-box:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.skill-boxes:hover p {
  color: #fff;
}
/* || ----- projects -----  || */

.project-outer {
  background-color: #0c0c1d;
  padding: 100px 0;
}
.project-title h2 {
  background: linear-gradient(to right, #8750f7 0%, #fff 100%);
  background-clip: border-box;
  background-clip: border-box;
  background-clip: border-box;
  font-size: 45px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  display: inline-flex;
  margin-bottom: 25px;
}
.project-title p {
  color: #fff;
  max-width: 550px;
  margin: 0 auto;
}
.project-title {
  text-align: center;
  margin-bottom: 50px;
}
.project-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.project-inner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
  -webkit-filter: blur(150px);
  filter: blur(150px);
}
.project-box {
  flex-basis: 48%;
  background-color: #050306;
  padding: 36px;
  border-radius: 10px;
  margin-bottom: 50px;
  background: #140c1c;
  position: relative;
  overflow: hidden;
}
.image-box {
  height: 470px;
}
.image-box img {
  object-fit: cover;
  object-position: top;
  /* border-radius: 5px; */
  height: 100%;
  width: 100%;
}
.content-box {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: calc(100% - 40px);
  border-radius: 15px;
  margin: 0 auto;
  right: 0;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
  background: linear-gradient(260deg, #2a1454 0%, #8750f7 100%);
}
.content-box h3 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #fff;
}
.content-box p {
  color: #fff;
}
.content-box a {
  font-size: 30px;
  line-height: 1;
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.project-box:hover .content-box {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.project-box:hover .content-box a {
  -webkit-transform: translateY(-50%) rotate(360deg);
  -ms-transform: translateY(-50%) rotate(360deg);
  transform: translateY(-50%) rotate(360deg);
}

/* || ----- contact -----  || */

.contact-outer {
  background-color: #0c0c1d;
  padding: 100px 0;
}
.contact-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.contact-subtitle h2 {
  background: linear-gradient(to right, #8750f7 0%, #fff 100%);
  background-clip: border-box;
  background-clip: border-box;
  background-clip: border-box;
  background-clip: border-box;
  background-clip: border-box;
  font-size: 65px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  display: inline-flex;
  margin-bottom: 10px;
  max-width: 450px;
}
.address h2 {
  font-size: 24px;
  color: #d3d3d3;
}
.address span {
  color: #ddd;
  display: block;
  color: #d3d3d3;
}
.contact-subtitle {
  margin-bottom: 30px;
}
.address {
  margin-bottom: 50px;
}
.contact-left {
  flex-basis: 45%;
}
.contact-right {
  flex-basis: 45%;
}
.form-group input,
.form-group textarea {
  padding: 20px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  color: #d3d3d3;
  border-radius: 5px;
  outline: 0;
  resize: none;
}
.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#btn {
  padding: 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  background-color: orange;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    #8750f7 0%,
    #2a1454 51%,
    #8750f7 100%
  );
  background-size: 200%;
  color: #fff;
  font-family: "Sora", sans-serif;
  transition: 0.4s;
}
#btn:hover {
  background-position: -100%;
}
.icon-box-address {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(161deg, #2a1454 0%, #8750f7 100%);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}
.icon-address-outer {
  position: relative;
  padding-left: 75px;
}
.icon-box-address svg {
  color: #ddd;
}

/* || ----- footer-----  || */

.footer-outer {
  background-color: #0c0c1d;
  padding: 0 0 35px 0;
}
.footer-copyright {
  text-align: center;
  color: #d3d3d3;
}
.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #d3d3d3;
  border-color: rgba(255, 255, 255, 0.2);
  padding-top: 35px;
}
.scroll-top a {
  color: #d3d3d3;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.scroll-top {
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}
.scroll-to-top {
  position: static;
  background-color: #d3d3d3;
}
.scroll-top svg {
  /* color: #8750f7;
  font-size: 20px; */
  width: 25px;
}
/* .scroll-top svg {
  color: #8750f7;
  font-size: 20px;
} */
.scroll-top a:hover {
  color: #8750f7;
}
::placeholder {
  font-family: "Sora", sans-serif;
  font-size: 14px;
}
p.success-msg {
  background: #07bc0c;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  /* background: #28a745; */
  background: rgb(2, 37, 7);
}
.error {
  color: red;
  font-size: 14px;
  color: #ff5733;
}
/* sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #050709;
  padding: 15px 0;
  z-index: 100;
  transition: 0.3s;
  background-color: #140c1c;
}

/* CSS styles for hamburger menu button */
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 27px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
  position: relative;
}
.menu-toggle.open {
  height: 30px;
}
.menu-toggle span {
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle.open span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
  width: 100%;
}

/* CSS styles for the navigation menu */
/* .header-menu {
  display: none;
} */

.header-menu.open {
  display: block;
}

.header-menu nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-menu.open {
  display: block;
  width: 100%;
  background-color: #140c1c;
  position: absolute;
  top: 0;
  padding: 120px 0;
  z-index: 1;
  /* min-height: 100vh; */
  left: 0;
}
.header-menu ul {
  display: flex;
  gap: 35px;
}
.header-button {
  display: none;
}
.menu-toggle span:nth-child(3) {
  width: 25px;
}
.menu-toggle span:nth-child(2) {
  width: 35px;
}
/* -----RESPONSIVE WEB DESIGN----- */

/* // Extra small devices  */
@media (max-width: 575.98px) {
  /* header */
  .header-mail {
    display: none;
  }
  /* .header-btn {
    display: none;
  } */
  .header-mail a {
    font-size: 14px;
  }
  /* .header-logo {
    margin-right: 10px;
    max-width: 50px;
  } */
  /* menubar */
  .header-button {
    display: block;
    margin-left: 25px;
  }
  .header-btn {
    margin-left: auto;
  }
  .header-btn a {
    padding: 12px 30px;
  }
  /* banner */

  .container {
    padding: 0 20px;
  }
  .banner-content {
    order: 2;
  }
  .banner-social-media {
    flex-basis: 30%;
  }
  .banner-pic {
    flex-basis: 60%;
  }
  .banner-content {
    flex-basis: 100%;
  }
  .banner-inner {
    row-gap: 70px;
  }
  .banner-sub-title img {
    max-width: 30px;
  }
  .banner-sub-title {
    font-size: 26px;
  }
  .banner-title h1 {
    font-size: 45px;
  }
  .banner-para p {
    font-size: 16px;
  }
  .banner-btn a {
    padding: 12px 25px;
  }
  .banner-pic::before {
    bottom: -130px;
    left: -100px;
    width: 200px;
  }
  br {
    display: none;
  }
  .banner-outer {
    padding: 60px 0 50px;
  }
  /* skill */
  .skill-content h2 {
    font-size: 35px;
  }
  .skill-boxes p {
    font-size: 16px;
  }
  .skill-boxes {
    flex-basis: 100%;
  }
  /* projects */
  .project-title h2 {
    font-size: 35px;
  }
  .project-box {
    flex-basis: 100%;
  }
  .content-box h3 {
    font-size: 20px;
  }
  .image-box {
    height: 450px;
  }
  .project-outer {
    padding: 100px 0 0;
  }
  /* contact */

  .contact-subtitle h2 {
    font-size: 45px;
  }
  .address h2 {
    font-size: 20px;
  }
  .contact-left {
    flex-basis: 100%;
  }
  .contact-right {
    flex-basis: 100%;
  }
  /* footer */
  .footer-copyright p {
    font-size: 14px;
  }
  .footer-copyright {
    flex-basis: 80%;
  }
  .header-menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* menu */
  .header-menu {
    display: none;
  }
  .content-box a {
    font-size: 20px;
    right: 15px;
  }
}

/*// Small devices  */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* menu */
  .header-button {
    display: block;
  }
  .header-menu {
    display: none;
  }
  .header-menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container {
    padding: 0 20px;
  }
  /* banner */
  .banner-inner {
    row-gap: 70px;
  }
  .banner-content {
    order: 2;
  }
  .banner-social-media {
    flex-basis: 40%;
  }
  .banner-pic {
    flex-basis: 50%;
  }
  .banner-content {
    flex-basis: 100%;
  }
  .banner-sub-title {
    font-size: 26px;
  }
  .banner-title h1 {
    font-size: 45px;
  }
  .header-logo {
    margin-right: 20px;
  }
  /* skill */
  .skill-content h2 {
    font-size: 35px;
  }
  .skill-boxes p {
    font-size: 16px;
  }
  /* projects */
  .project-title h2 {
    font-size: 35px;
  }
  .project-box {
    flex-basis: 100%;
  }
  .content-box h3 {
    font-size: 20px;
  }
  .image-box {
    height: 450px;
  }
  .project-outer {
    padding: 100px 0 0;
  }
  /* contact */

  .contact-subtitle h2 {
    font-size: 45px;
  }
  .address h2 {
    font-size: 20px;
  }
  .contact-left {
    flex-basis: 100%;
  }
  .contact-right {
    flex-basis: 100%;
  }
}

/*// Medium and large devices  */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    padding: 0 20px;
  }
  /* header */
  .header-inner {
    row-gap: 20px;
  }
  /* banner */
  .banner-inner {
    row-gap: 70px;
  }
  .banner-content {
    order: 2;
  }
}

/*// large and extra large devices  */
@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  .container {
    padding: 0 30px;
  }
}
